<ion-header>
  <ion-toolbar  color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
     Lieu Touristique
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="primary">CasaTourisme</ion-card-subtitle>
      <ion-card-title>Informations</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Pour la simplification de l'utilisation, on vous propose de choisir le lieu touristique que vous desirez. On vous souhaite une bonne utilisation!
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item routerLink="/monument" class="ion-activated">
      <img src="/assets/plage.jpg" alt="">
      <ion-label color="warning" >&nbsp;Plage</ion-label>
    </ion-item>
  
    <ion-item routerLink="/culture" class="ion-activated">
      <img src="/assets/culture.jpg" alt="">
      <ion-label color="warning">  &nbsp;Culture</ion-label>
    </ion-item>
    <ion-item routerLink="/shop" class="ion-activated">
      <img src="/assets/shop.jpg" alt="">
      <ion-label color="warning">  &nbsp;Shopping</ion-label>
    </ion-item>
  </ion-card>
  
</ion-content>
