<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Casatourisme</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="primary">CasaTourisme</ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-label>Votre note</ion-label>
      <ion-select interface="popover">
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="ion-activated">
      <img src="" alt="">
    </ion-item>
    <ion-card>
    <ion-item class="ion-activated" >
      <h5 style="color: gray;">
      
      </h5>
    </ion-item>
    </ion-card>
    <ion-card>
      <ion-item class="ion-activated">
        
      </ion-item>
      </ion-card>
  </ion-card>

</ion-content>
