<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Acceuil
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logoutFn()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="primary">CasaTourisme</ion-card-subtitle>
      <ion-card-title>Informations</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Pour la simplification de l'utilisation, on vous propose de choisir le lieu touristique que vous desirez parmis les suggestions, si non chosissez le lieu touristique que vous desirez sur le menu. On vous souhaite une bonne utilisation!
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="primary">CasaTourisme</ion-card-subtitle>
      <ion-card-title>Top 1</ion-card-title>
    </ion-card-header>
    <ion-item routerLink="/all" class="ion-activated">
      <img src="" alt="">
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="primary">CasaTourisme</ion-card-subtitle>
      <ion-card-title>Top 2</ion-card-title>
    </ion-card-header>
    <ion-item routerLink="/all" class="ion-activated">
      <img src="" alt="">
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="primary">CasaTourisme</ion-card-subtitle>
      <ion-card-title>Top 3</ion-card-title>
    </ion-card-header>
    <ion-item routerLink="/all" class="ion-activated">
      <img src="" alt="">
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="primary">CasaTourisme</ion-card-subtitle>
      <ion-card-title>Top 4</ion-card-title>
    </ion-card-header>
    <ion-item routerLink="/all" class="ion-activated">
      <img src="" alt="">
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="primary">CasaTourisme</ion-card-subtitle>
      <ion-card-title>Top 5</ion-card-title>
    </ion-card-header>
    <ion-item routerLink="/all" class="ion-activated">
      <img src="" alt="">
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="primary">CasaTourisme</ion-card-subtitle>
      <ion-card-title>Top 6</ion-card-title>
    </ion-card-header>
    <ion-item routerLink="/all" class="ion-activated">
      <img src="" alt="">
    </ion-item>
  </ion-card>
</ion-content>
