.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.gg{
  width: 400pt;
  height: 300pt;}
  ion-select {
        color: #545ca7;
      --placeholder-color: #971e49;
      --placeholder-opacity: 1;
  }
  img{
    border-radius: 10%;
    width: 150pt;
    height: 150pt;
    margin-bottom: 10pt;
}

  